/* ul li{
    list-style: circle;
}
ol li{
    color: blue;
    font-size: 2em;
} */

button{
    border-radius: 10px;
    color: black;
   background-color: bisque;
    padding: 10px 20px;
    font-size: 1.3em;
    box-sizing: border-box;

   
    
}
div{
    text-align: center;
    background-color: ;
}
/* h1,h2{
    text-align: center;
} */
   